
<div class="jumbotron text-center">

  <h1>Employee Management System</h1>
  <p class="lead text-info">welcome to login page</p>
  <%= link_to "log_in", new_user_session_path ,class:"btn btn-lg btn-primary"%>
        
</div>
